body {
  background-color: white;
}

.box {
  margin: 25px auto;
  width: 500px;
  height: 500px;
  background-color: purple;
}

@media (hover: hover) {

  .box:hover {
    background-color: pink;
  }

}

@media screen and (max-width: 920px) {

  body {
    background-color: red;
  }
  .box {
    width: 350px;
    height: 350px;
  }

}

@media screen and (max-width: 400px) {

  body {
    background-color: blue;
  }
  .box {
    width: 200px;
    height: 200px;
  }

}
